* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Oswald", sans-serif;
    gap: 2rem;
    background-color: #f6f6f6;
}

#cabecalho h1 {
    font-family: "Oswald", sans-serif;
}

#visor {
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    height: 6rem;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 0.4rem 0.4rem 0 0;
    overflow-x: auto; /* Adiciona rolagem horizontal se necessário */
    white-space: nowrap; /* Evita quebras de linha */
}

#calculadora {
    margin: 0 auto;
    background-color: white;
}

#botoes {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}

#ladoA {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#ladoB {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#botoes {
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 0 0 0.4rem 0.4rem;
}

.botoes {
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    border: 1px solid #8d8d8d;
    border-radius: 0.3rem;
}

.botoes:hover {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

#adicao, #subtracao, #divisao, #multiplicacao, #ponto {
    color: blue;
    font-weight: bold;
}

#igual {
    flex-grow: 1;
    background-color: blue;
    color: white;
}

#ac {
    background-color: red;
    color: white;
    border: none;
}

#rodape a {
    color: black;
    text-decoration: none;
}

#rodape a:hover {
    color: blue;
    transition: color 0.3s ease;
}